<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaomolongstudio.wewin">

    <!-- 友盟 -->
    <!-- 统计 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 友盟 -->
    <!-- 百度 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!-- 百度 -->
    <application
        android:name="com.wuxiaolong.wewin.utils.AndroidApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <!-- 友盟 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="53cdcf4f56240b7a880086e1"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng"/>

        <!-- 友盟 -->
        <!-- tools:replace="android:icon, android:theme" -->
        <!-- baidu start -->
        <!-- 注册AppActivity -->
        <activity
            android:name="com.baidu.mobads.AppActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"/>
        <!-- 您从百度移动联盟网站获取的APPSID -->
        <meta-data
            android:name="BaiduMobAd_APP_ID"
            android:value="b5ec0f00"/>
        <!-- baidu end -->
        <activity
            android:name="com.wuxiaolong.wewin.ui.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.wuxiaolong.wewin.ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.wuxiaolong.wewin.ui.juzimi.ShowImageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.wuxiaolong.wewin.ui.set.SetActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.wuxiaolong.wewin.ui.WorksShowActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.wuxiaolong.wewin.ui.set.AboutUsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.wuxiaolong.wewin.ui.MainNewActivity"
            android:label="@string/title_activity_main_new"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.wuxiaolong.wewin.ui.WebViewActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.wuxiaolong.wewin.ui.myblog.MyBlogActivity"
            android:screenOrientation="portrait">
        </activity>


        <activity
            android:name="com.wuxiaolong.wewin.ui.tngougirl.TngouGirlDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.wuxiaolong.wewin.ui.tngounews.TngouNewsDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.wuxiaolong.wewin.ui.set.CircleActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>